<html>
<head>
    <title>Ma todolist</title>
    <meta charset="UTF-8">
    <style>
        span.deleteCross {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <h1>Ma todolist</h1>
    <ul id="todoList">

    </ul>
    <form>
        <label for="newTodo">Que dois-je faire ? </label>
        <input type="text" name="newTodo" id="newTodo" autofocus />
        <input type="button" value="Valider" onclick="addTodo()" />
    </form>

    <!-- partie script -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        var socket = io();
        var pseudo;

        // mise a jout de la todolist( appelé la premire fois puis à chaque changement)
        socket.on('update todolist', function (todolist) {
            var index = 0;
            // on vide la todolist actuellement affiché
            $("#todoList").empty();
            // puis on charge la todolist mise à jour
            todolist.forEach((todo) => {
                $("#todoList").append("<li><span class='deleteCross' onclick='deleteTodo(" + index + ")'>✘</span> " + todo + "</li>");
                index++;
            }
            );
        });

        // fonction de suppression d'une todo 
        function deleteTodo(index) {
            socket.emit('delete todo', index);
            // puis on vide le champs d'ajout de todo
            document.getElementById('newTodo').value = ""
        }

        // fonction d'ajout d'une todo
        function addTodo() {
            $('form').submit(false);
            var newTodo = document.getElementById('newTodo').value
            socket.emit("add todo", newTodo);
            // puis on vide le champs d'ajout de todo
            document.getElementById('newTodo').value = ""
        }
    </script>
</body>
</html>